# Database
DATABASE_URL="postgresql://postgres:[YOUR-PASSWORD]@db.xxxxx.supabase.co:5432/postgres"

# JWT Secret (generate a random string)
JWT_SECRET="your-super-secret-jwt-key-change-this"

# Node Environment
NODE_ENV="development"

# Email (Optional - for contact form)
EMAIL_USER=""
EMAIL_PASS=""

# Connection pooling for production (optional but recommended)
# DIRECT_URL="postgresql://postgres:[YOUR-PASSWORD]@db.xxxxx.supabase.co:5432/postgres"
SUPABASE_URL=https://aljgtjwfypkotgatgoab.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFsamd0andmeXBrb3RnYXRnb2FiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE2MTMwODMsImV4cCI6MjA4NzE4OTA4M30.I4gVo8UTvD5b1JwgIFcrVwgErz2fG-yUL43HFv2QeA8
SUPABASE_BUCKET=products